@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
    font-family: 'Inter', sans-serif;
    margin: 0rem;
    padding: 0rem;
}

body{
    margin: 4rem 9rem;
}

#main-container{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 20rem 15rem 15rem;
    gap: 1.5rem;
    grid-template-areas:
    "header header header"
    "picture picture aside"
    "heading article aside"
    "bottom bottom bottom"
}

/*Header and Navbar*/
#header{
    grid-area: header;
}


/****Picture****/
#pic-container{
    grid-area: picture;
}
#pic-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hading{
    grid-area: heading;
    font-weight: 400;
}
#article{
    grid-area: article;
}

/******Right Side Content********/
#aside{
    grid-area: aside;
}

/*********Bottom Content***********/
#bottom-content{
    grid-area: bottom;
    display: flex;
    justify-content: space-around;

}







/*********Footer*****************/
#attribution{
    grid-area: footer;
}