@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --clr-heading: hsl(240, 100%, 5%);
    --clr-secondary-heading: white;
    --clr-aside-heading: hsl(35, 77%, 62%);
    --clr-tertiary-heading: hsl(233, 8%, 79%);

    --clr-button: hsl(5, 85%, 63%);
    --clr-paragraph: hsl(236, 13%, 42%);
    --clr-background: hsl(240, 100%, 5%);
    
}


*{
    font-family: 'Inter', sans-serif;
    margin: 0rem;
    padding: 0rem;
    background: hsl(36, 100%, 99%);
}

body{
    margin: 4rem 22rem;
}

#main-container{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 18.5rem 11rem 12rem;
    gap: 1.5rem;
    grid-template-areas:
    "header header header"
    "picture picture aside"
    "heading article aside"
    "bottom1 bottom2 bottom3"
}

/*Header and Navbar*/
#header-container{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav{
    justify-content: space-between;
}
a{
    padding-left: 2rem;
    color: var(--clr-paragraph);
    text-decoration: none;
}

/****Picture****/
#pic-container{
    grid-area: picture;
}
#pic-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/************(Left)Article Content*************/
#heading-container{
    grid-area: heading;
    font-weight: 900;
    font-style: bold;       
    font-size: 1.7rem;
    line-height: 3.5rem;
}
#article-container{
    grid-area: article;
    font-size: .5rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--clr-paragraph);
}
button{
    margin-top: 2rem;
    font-size: .8rem;
    letter-spacing: .3rem;
    padding: 1.2rem 2rem;
    color:var(--clr-secondary-heading);
    background-color: var(--clr-button);
    border: none;
}


/******Right Side Content********/
#aside-container{
    grid-area: aside;
    background: var(--clr-background);
    border: none;
}
#aside-container h1{
    color: var(--clr-aside-heading);
    background: var(--clr-background);
    font-size: 2.3rem;
    padding: 2rem 2rem 0rem 2rem; 
}

#aside-content{
    background: var(--clr-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0rem 2rem 2rem 2rem;
}

hr{/*In between line break*/
    margin: 1.5rem 0rem 1rem 0rem;
}

#aside-container h2{
    color: var(--clr-secondary-heading);
    background: var(--clr-background);
    font-size: 1.2rem;
    margin-top: 1rem;
}
#aside-container p{
    color: rgb(148, 148, 161);
    background: var(--clr-background);
    margin-top: .5rem;
    font-size: .9rem;
    line-height: 1.5rem;
}


#first-bottom{
    grid-area: bottom1;
}
#second-bottom{
    grid-area: bottom2;
}
#third-bottom{
    grid-area: bottom3;
}

.bottom-content{
    margin-top: 2rem;
}

.bottom-content img{
    float: left;
    width: 6rem;
    height: 8rem;
    padding-right: 1rem;
}
.bottom-content h1{
    color: var(--clr-tertiary-heading);
}
.bottom-content h2{
    color: var(--clr-heading);
    margin-top: .3rem;
    font-size: 1.2rem;
    font-weight: 900;
}
.bottom-content p{
    color: var(--clr-paragraph);
    margin-top: .5rem;
    font-size: 1rem;
    line-height: 1.6rem
}



/*********Footer*****************/
#attribution{
    grid-area: footer;
}


/*********Bottom Content****
#bottom-content{
    grid-area: bottom;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
*******/